=begin
#Nucleus API v2.0

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module GeneByGene
  class FulfillmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Shipping Options
    # @param [Hash] opts the optional parameters
    # @option opts [GetAvailableShippingOptionsQuery] :get_available_shipping_options_query 
    # @return [GetAvailableShippingOptionsShippingOptionsResponseDto]
    def api_v2_fulfillments_actions_get_shipping_options_post(opts = {})
      data, _status_code, _headers = api_v2_fulfillments_actions_get_shipping_options_post_with_http_info(opts)
      data
    end

    # Get Shipping Options
    # @param [Hash] opts the optional parameters
    # @option opts [GetAvailableShippingOptionsQuery] :get_available_shipping_options_query 
    # @return [Array<(GetAvailableShippingOptionsShippingOptionsResponseDto, Integer, Hash)>] GetAvailableShippingOptionsShippingOptionsResponseDto data, response status code and response headers
    def api_v2_fulfillments_actions_get_shipping_options_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FulfillmentsApi.api_v2_fulfillments_actions_get_shipping_options_post ...'
      end
      # resource path
      local_var_path = '/api/v2/fulfillments/actions/getShippingOptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_available_shipping_options_query'])

      # return_type
      return_type = opts[:debug_return_type] || 'GetAvailableShippingOptionsShippingOptionsResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FulfillmentsApi.api_v2_fulfillments_actions_get_shipping_options_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FulfillmentsApi#api_v2_fulfillments_actions_get_shipping_options_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Address for Shipment
    # @param [Hash] opts the optional parameters
    # @option opts [EditAddressCommand] :edit_address_command 
    # @return [EditAddressCommand]
    def api_v2_fulfillments_actions_update_shipment_address_post(opts = {})
      data, _status_code, _headers = api_v2_fulfillments_actions_update_shipment_address_post_with_http_info(opts)
      data
    end

    # Edit Address for Shipment
    # @param [Hash] opts the optional parameters
    # @option opts [EditAddressCommand] :edit_address_command 
    # @return [Array<(EditAddressCommand, Integer, Hash)>] EditAddressCommand data, response status code and response headers
    def api_v2_fulfillments_actions_update_shipment_address_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FulfillmentsApi.api_v2_fulfillments_actions_update_shipment_address_post ...'
      end
      # resource path
      local_var_path = '/api/v2/fulfillments/actions/updateShipmentAddress'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'edit_address_command'])

      # return_type
      return_type = opts[:debug_return_type] || 'EditAddressCommand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FulfillmentsApi.api_v2_fulfillments_actions_update_shipment_address_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FulfillmentsApi#api_v2_fulfillments_actions_update_shipment_address_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fulfillments
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_line_id 
    # @option opts [String] :order_id 
    # @option opts [String] :fulfillment_id 
    # @option opts [Integer] :offset 
    # @option opts [Integer] :page_size 
    # @return [GetFulfillmentsFulfillmentDtoPaginatedList]
    def api_v2_fulfillments_get(opts = {})
      data, _status_code, _headers = api_v2_fulfillments_get_with_http_info(opts)
      data
    end

    # Get fulfillments
    # @param [Hash] opts the optional parameters
    # @option opts [String] :order_line_id 
    # @option opts [String] :order_id 
    # @option opts [String] :fulfillment_id 
    # @option opts [Integer] :offset 
    # @option opts [Integer] :page_size 
    # @return [Array<(GetFulfillmentsFulfillmentDtoPaginatedList, Integer, Hash)>] GetFulfillmentsFulfillmentDtoPaginatedList data, response status code and response headers
    def api_v2_fulfillments_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FulfillmentsApi.api_v2_fulfillments_get ...'
      end
      # resource path
      local_var_path = '/api/v2/fulfillments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'orderLineId'] = opts[:'order_line_id'] if !opts[:'order_line_id'].nil?
      query_params[:'orderId'] = opts[:'order_id'] if !opts[:'order_id'].nil?
      query_params[:'fulfillmentId'] = opts[:'fulfillment_id'] if !opts[:'fulfillment_id'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFulfillmentsFulfillmentDtoPaginatedList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FulfillmentsApi.api_v2_fulfillments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FulfillmentsApi#api_v2_fulfillments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel fulfillment
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_v2_fulfillments_id_delete(id, opts = {})
      api_v2_fulfillments_id_delete_with_http_info(id, opts)
      nil
    end

    # Cancel fulfillment
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v2_fulfillments_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FulfillmentsApi.api_v2_fulfillments_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FulfillmentsApi.api_v2_fulfillments_id_delete"
      end
      # resource path
      local_var_path = '/api/v2/fulfillments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"FulfillmentsApi.api_v2_fulfillments_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FulfillmentsApi#api_v2_fulfillments_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
